/**
  *
  * Global CSS Variables
  *
 **/
:root {
  --color-primary-100: #ECEFF5;
  --color-primary-200: #C3CBDC;
  --color-primary-300: #9BA8C2;
  --color-primary-400: #7686A6;

  --color-primary:     #503B3E;
  --bg-color: #D9DFE9;

  --color-primary-600: #3E4F70;
  --color-primary-700: #2C3A57;
  --color-primary-800: #1C263B;
  --color-primary-900: #0D131E;

  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Proza Libre', sans-serif;

  --text: var(--color-primary-200);
  --text-secondary: var(--color-primary-400);

  --bg: var(--color-gray-900);
  --bg-secondary: var(--color-gray-800);

  --border-color: var(--color-primary-400);
  --border-color-secondary: var(--color-primary);
}

.light {
  --text: var(--color-primary-800);
  --text-secondary: var(--color-primary-600);

  --bg: var(--color-gray-200);
  --bg-secondary: var(--color-gray-100);

  --border-color: var(--color-primary);
  --border-color-secondary: var(--color-primary-600);
}
